body{
    background-color: white;
    padding:0;
    margin:0;
    font-family: helvetica, sans-serif;
}

/* Importing styles from W3Schools above - you can customize the classes below */
.w3-section{
background:white;
padding:0;
}
.w3-section img{
margin:auto;
display:block;
padding:0;
height:1000px;
width:1550px;
}


.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  max-width: 300px;
}

nav{
    background-color: black;
    /* height: 60px; */
    text-align: center;
    font-family: Georgia, serif;
}

nav a{
    text-align: center;
    color:white;
    font-size: 1.8em;
    padding:15px;
    margin:10px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

/* Styles for hero or features */
.hero{
  background-image: url("");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.hero h2{
  position: absolute;
  bottom: :20%;
  right: 5%;
}
button{
  position: absolute;
  bottom: 8%;
  right: 5%;
  background: none;
  padding: 5px;
  border: 2px black solid;
  color: black;
  font-size: 1.3em;
  border-radius: 5px;
}

.about-hero{
  background-image: url("");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.about-hero h2{
  position: absolute;
  bottom: :10%;
  right: 5%;
}


main{
maring:20px auto;
display: flex;
flex-wrap: wrap;
}

.flexItem{
    flex-basis: 300px;
    flex-grow: 2;
    margin: 2px;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
}

img{
    width: 100%;
    display: block;
    margin: 1% auto;
    border: 0;
}

footer{
  background: rgba(0,0,0,0.8)
  padding: 40px;
}

footer p{
  color: white;
}

footer a{
  color:white;
}


@media screen and (min-width: 700px) {
        .logo{
          /* width:200px */
        }
        img{
          display: inline;
          width: 30%;
        }

        .flexItem{
            margin: 20px;
        }

        .flexItem:first-child{
          margin-right: 0;
        }
}

@media screen and (min-width: 1300px) {
    img{

    }
}
